@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-page="Index">
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" placeholder="Enter Salary" autocomplete="off" />
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>
